<div class="container">
  <div class="row contacto">
    <div class="col-6 contact_form shadow">
      <div class="formulario">
        <h1>Contacto</h1>

        <form action="submeter-formulario.php" method="post">
          <p>
            <label for="nombre" class="colocar_nombre">
              <span class="obligatorio"></span>
            </label>
            <input
              type="text"
              name="introducir_nombre"
              id="nombre"
              required="obligatorio"
              placeholder=" Nombre"
            />
          </p>

          <p>
            <label for="email" class="colocar_email">
              <span class="obligatorio"></span>
            </label>
            <input
              type="email"
              name="introducir_email"
              id="email"
              required="obligatorio"
              placeholder=" Email"
            />
          </p>
          <p>
            <label for="mensaje" class="colocar_mensaje">
              <span class="obligatorio"></span>
            </label>
            <textarea
              name="introducir_mensaje"
              class="texto_mensaje"
              id="mensaje"
              required="obligatorio"
              placeholder=" Deja tu mensaje..."
            ></textarea>
          </p>

          <button type="submit" name="enviar_formulario" id="enviar">
            <p>Enviar</p>
          </button>
        </form>
      </div>
    </div>

    <div class="col-6 card-columns">
      <div class="card shadow">
        <div class="icono">
          <i class="fa-solid fa-house"> </i>
        </div>
        <div class="cuerpo">
          <h2>Ubicacion</h2>
          <p>Tigre - Buenos Aires, Argentina</p>
        </div>
      </div>
      <div class="card shadow">
        <div class="icono">
          <i class="fa-regular fa-envelope"> </i>
        </div>
        <div class="cuerpo">
          <h2>Email</h2>
          <p>Luka222@live.com.ar</p>
        </div>
      </div>
      <div class="card shadow">
        <div class="icono">
          <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="cuerpo">
          <h2>Whatsapp</h2>
          <p>+54 011 3476-4344</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer" id="contact">
    <ul>
      <li>
        <a href="https://github.com/Luka-g22"
          ><i class="fa-brands fa-github"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/luca-guerrero/"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/luka_g22/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="back-to-top">
    <a href="#top" id="myBtn"><i class="fas fa-chevron-up"></i></a>
  </div>
</div>
