<div class="contact_form">
  <div class="formulario">
    <h1>Contacto</h1>

    <form action="submeter-formulario.php" method="post">
      <p>
        <label for="nombre" class="colocar_nombre">
          <span class="obligatorio"></span>
        </label>
        <input
          type="text"
          name="introducir_nombre"
          id="nombre"
          required="obligatorio"
          placeholder="Nombre"
        />
      </p>

      <p>
        <label for="email" class="colocar_email">
          <span class="obligatorio"></span>
        </label>
        <input
          type="email"
          name="introducir_email"
          id="email"
          required="obligatorio"
          placeholder="Email"
        />
      </p>

      <p>
        <label for="asunto" class="colocar_asunto">
          <span class="obligatorio"></span>
        </label>
        <input
          type="text"
          name="introducir_asunto"
          id="assunto"
          required="obligatorio"
          placeholder="Asunto"
        />
      </p>

      <p>
        <label for="mensaje" class="colocar_mensaje">
          <span class="obligatorio"></span>
        </label>
        <textarea
          name="introducir_mensaje"
          class="texto_mensaje"
          id="mensaje"
          required="obligatorio"
          placeholder="Deja tu mensaje..."
        ></textarea>
      </p>

      <button type="submit" name="enviar_formulario" id="enviar">
        <p>Enviar</p>
      </button>
    </form>
  </div>
</div>

<div class="back-to-top">
  <a href="#top" id="myBtn"><i class="fas fa-chevron-up"></i></a>
</div>

<div class="footer" id="contact">
  <ul>
    <li>
      <a href="www.github.com "><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
      <a href="www.linkedIn.com "><i class="fa-brands fa-linkedin-in"></i></a>
    </li>
    <li>
      <a href="www.instagram.com "><i class="fa-brands fa-instagram"></i></a>
    </li>
  </ul>
</div>
