<div class="about" id="about">
  <div class="container">
    <a><img src="assets/img/PRF.png" alt="Yo" class="prf" /></a>
    <h2>SOBRE MI</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, vel
      ad at assumenda incidunt nisi quam dignissimos. Sapiente, expedita quidem
      similique debitis repudiandae explicabo! Rem enim eligendi ipsa deleniti
      ab?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic distinctio
      voluptatum in magnam neque itaque deleniti cumque soluta iure dolorem?
      Provident aliquid soluta cum ut. Nulla corporis illum suscipit laudantium?
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, vel
      ad at assumenda incidunt nisi quam dignissimos. Sapiente, expedita quidem
      similique debitis repudiandae explicabo! Rem enim eligendi ipsa deleniti
      ab?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic distinctio
      voluptatum in magnam neque itaque deleniti cumque soluta iure dolorem?
      Provident aliquid soluta cum ut. Nulla corporis illum suscipit laudantium?
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, vel
      ad at assumenda incidunt nisi quam dignissimos. Sapiente, expedita quidem
      similique debitis repudiandae explicabo! Rem enim eligendi ipsa deleniti
      ab?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic distinctio
      voluptatum in magnam neque itaque deleniti cumque soluta iure dolorem?
      Provident aliquid soluta cum ut. Nulla corporis illum suscipit laudantium?
    </p>
  </div>
</div>
