<main class="about" id="about">
  <div class="container">
    <div class="box descripcion">
      <a><img src="../../assets/img/PRF.png" alt="Yo" class="prf" /></a>
      <h1>Sobre Mi</h1>
      <p>
        Soy un programador web, tecladista, cantante, electricista, crossfiter y
        filantropo multimillonario en autosuperacion, que sobrevive a las
        infinitas crisis multiversales de mi mente ansiosa a base de degustar
        comidas exoticas los fines de semana
      </p>
      <p>
        '... pero no soy tan simple como para no advertir, que no hay tres
        minutos, ni hay cien palabras, que me puedan definir'
      </p>
    </div>
    <div class="box educacion">
      <h2>Educacion</h2>
      <i class="fa-solid fa-graduation-cap"></i>
      <ul>
        <li>
          <h4>Instituto San Antonio</h4>
          <p>Primaria 2001-2006</p>
        </li>
        <li>
          <h4>Instituto Privado San Antonio</h4>
          <p>Secundaria 2007-2013</p>
        </li>
        <li>
          <h4>UBA | Facultad de Ingeniería</h4>
          <p>Ingenieria Informatica 2014-2016</p>
        </li>
        <li>
          <h4>Centro Argentino de Investigacion Tecnologica</h4>
          <p>Electricista domiciliario 2016-2017</p>
        </li>
        <li>
          <h4>Conservatorio Juan Jose Castro</h4>
          <p>Profesorado de piano 2018-2019</p>
        </li>
        <li>
          <h4>Agustina Peralta - Vocal Coach</h4>
          <p>Canto y expresion escenica 2018-2020</p>
        </li>
      </ul>
    </div>
    <div class="box experiencia">
      <h2>Experiencia</h2>
      <i class="fa-solid fa-briefcase"></i>
      <ul>
          <img src="../../assets/img/logo-correo2.png" alt="" />
        <li>
          <h4>Correo Argentino</h4>
          <p>
            Auxiliar Logistico<br />
            Jornada Completa <br />
            Ago. 2020 - actualidad
          </p>
        </li>
      </ul>
    </div>
  </div>
</main>
