<main class="about" id="about">
  <div class="container">
    <div class="box descripcion">
      <a><img src="../../assets/img/PRF.png" alt="Yo" class="prf" /></a>
      <h1>Sobre Mi</h1>
      <p>
        Soy un programador web, tecladista, cantante, electricista, crossfiter y
        filantropo multimillonario en autosuperacion, que sobrevive a las
        infinitas crisis multiversales de mi mente ansiosa a base de degustar
        comidas exoticas los fines de semana
      </p>
      <p>
        '... pero no soy tan simple como para no advertir, que no hay tres
        minutos, ni hay cien palabras, que me puedan definir'
      </p>
    </div>
    <div class="box educacion">
      <h1>Educacion</h1>
      <i class="fa-solid fa-graduation-cap"></i>
      <ul>
        <li>
          <p>Instituto San Antonio<br />Primaria 2001-2006</p>
        </li>
        <li>
          <p>Instituto Privado San Antonio<br />Secundaria 2007-2013</p>
        </li>
        <li>
          <p>
            UBA | Facultad de Ingeniería <br />
            Ingenieria Informatica (Incompleto)
          </p>
        </li>
        <li>
          <p>
            Centro Argentino de Investigacion Tecnologica -<br />
            Electricista domiciliario
          </p>
        </li>
        <li>
          <p>
            Conservatorio Juan Jose Castro -<br />
            Profesorado de piano (incompleto)
          </p>
        </li>
      </ul>
    </div>
    <div class="box experiencia">
      <h1>Experiencia</h1>
      <i class="fa-solid fa-briefcase"></i>
      <ul>
        <li>
          <p>
            Auxiliar Logistico<br />
            Jornada completa <br />
            ago. 2020 - actualidad
          </p>
          <img src="../../assets/img/logo-correo.png" alt="" />
        </li>
      </ul>
    </div>
  </div>
</main>
