<nav class="navbar fixed-top" id="navbar">
    <a href="#top">
      <img src="assets/img/APLogo.png" alt="Argentina Programa" class="logo" />
    </a>
    <input type="checkbox" id="toggler" />
    <label for="toggler"><i class="fa-solid fa-bars"></i></label>
    <div class="menu">
      <ul class="list">
        <li><a class="btn btn-1" href="#about">Sobre Mi</a></li>
        <li><a class="btn btn-1" href="#skills">Habilidades</a></li>
        <li><a class="btn btn-1" href="#proyects">Proyectos</a></li>
        <li><a class="btn btn-1" href="#contact">Contacto</a></li>
      </ul>
    </div>
  </nav>
