h1 {
  margin-top:100px;
  padding: 3em;
}

.row{
  justify-content: center;
  align-items: flex-end;
  margin: 50px 0 400px;
}

p {
  font-weight: bold;
}

.skill-icon {
  height: auto;
  width: auto;
  max-width: 130px;
}

.col {
  transition: transform 0.5s;
}

.col:hover {
  transform: scale(1.25);
}

.barra-naranja {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #f06529;
  color: white;
}

@media (max-width: 500px ){
 .skill-icon{
   max-height: 190px;
 }
}