<!--=============== TOP ===============-->
<nav class="navbar fixed-top container" id="navbar">
  <a href="#top">
    <img src="assets/img/APLogo.png" alt="Argentina Programa" class="logo" />
  </a>
  <input type="checkbox" id="toggler" />
  <label for="toggler"><i class="fa-solid fa-bars"></i></label>
  <div class="menu">
    <ul class="list">
      <li><a class="btn btn-1" href="#about">Sobre Mi</a></li>
      <li><a class="btn btn-1" href="#skills">Habilidades</a></li>
      <li><a class="btn btn-1" href="#contact">Contacto</a></li>
    </ul>
  </div>
</nav>
<!--=============== HOME ===============-->
<div class="title title--top">
  <h1 class="title__text">
    <span>LUCA</span>
    <span>GUE</span>
    <span>RRE</span>
    <span>RO</span>
  </h1>
  <div class="borde"><span></span><span class="js-letter"></span></div>
  <p class="title__lead">programador web /<br />fullstack developer.</p>
  <a
    class="ca3-scroll-down-link ca3-scroll-down-arrow"
    data-ca3_iconfont="ETmodules"
    data-ca3_icon=""
  ></a>
</div>
<!--=============== ABOUT ===============-->
<app-about></app-about>
<!--=============== SKILLS ===============-->
<app-skills></app-skills>
<!--=============== FOOTER ===============-->
<app-footer></app-footer>
