

.title {
  color:rgba(255, 255, 255, 0.835);
  overflow:hidden;
  z-index:200;
  margin: 150px 10rem;
 }
 @media screen and (max-width:800px) {
  .title {
   margin-left:40px
  }
 }
 @media screen and (max-width:420px) {
  .title {
   width:90%;
   margin:0 6%;
   top:26%;
   bottom:8rem
  }
 }
 @media screen and (max-width:420px) {
  .title--top {
   margin:0 13%
  }
 }
 span {
  display: block;
}
 .title__text {
  font-size:8rem;
  line-height:1;
  letter-spacing:0.1em;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight:normal;
  text-shadow:0 10px 30px rgb(2, 11, 22);
 }
 
 @media screen and (max-width:800px) {
  .title__text {
   font-size:7.6rem
  }
 }
 @media screen and (max-width:420px) {
  .title__text {
   font-size:5rem;
   margin-bottom:0.8rem;
   text-shadow:0 3px 10px rgba(2, 11, 22, 0.5)
  }
 }
 @media screen and (max-width:420px) {
  .title__text--top {
   font-size:4rem;
   text-shadow:0 10px 30px rgba(2, 11, 22, 0.5);
   margin-bottom:0.1rem
  }
 }
 .title .borde {
  display:block;
  margin-bottom:2.5rem;
  margin-top:2.5rem
 }
 @media screen and (max-width:420px) {
  .title .borde {
   margin-bottom:0.8rem
  }
 }
 .title .borde span {
  display:block;
  width:120px;
  height:5px;
  border-radius:3px;
  background:#00eeff7f;
 }
 .title .borde span:first-child {
  margin-bottom:1rem
 }
 @media screen and (max-width:420px) {
  .title .borde span:first-child {
   margin-bottom:0.7rem
  }
 }
 @media screen and (max-width:800px) {
  .title .borde span {
   width:70px
  }
 }
 @media screen and (max-width:420px) {
  .title .borde span {
   width:44px;
   height:2px
  }
 }
 .title .borde span:last-child {
  margin-left:54px
 }
 @media screen and (max-width:800px) {
  .title .borde span:last-child {
   margin-left:43px
  }
 }
 @media screen and (max-width:420px) {
  .title .borde span:last-child {
   margin-left:27px
  }
 }
 .title__lead {
  color:#fff;
  line-height:1.5;
  letter-spacing:0.1em;
 }

 @media screen and (max-width:800px) {
  .title__lead {
   font-size:1.3rem;
   line-height:1.4
  }
 }


/*-----------------------------------------------*/
.logo {
  width: 150px;
  height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.16);
  padding-block: 5px;
  border-radius: 35px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.logo {
  margin-right: 50px;
}
.list {
  list-style: none;
  display: flex;
  gap: 25px;
  padding-top: 10px;
}
#toggler,
.navbar label {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }

}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
    
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

/*-------------------------------------------------*/


[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor: pointer;
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #fff;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}
