<!--=============== TOP ===============-->

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container" id="top">
    <!-- LOGO -->
    <a class="navbar-brand logo" href="index.html">
      <img src="assets/img/APLogo.png" alt="Argentina Programa" class="logo" />
    </a>
  </div>
</nav>

<!--=============== home ===============-->
<app-home></app-home>
<!--=============== MENU ===============-->
<app-menu></app-menu>
<!--=============== ABOUT ===============-->
<app-about></app-about>
<!--=============== SKILLS ===============-->
<app-skills></app-skills>
<!--=============== WORK ===============-->
<div class="work" id="work"></div>
<!--=============== FOOTER ===============-->
<app-footer></app-footer>
