@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: "Poppins",'IBM Plex Sans', sans-serif;
  background: linear-gradient(
    120deg,
    #999999 0%,
    #c6c6c6 80%,
    #eaebed 100%
  );

}

.text-light {
  text-shadow: 1px #000000;
  text-align: center;
}

.home a {
  font-size: 80px;
}

.home,
.about,
.skills {
  height: auto;
}

@media (max-width: 420px) {
 
  .back-to-top {
display: none;
  }
}
