@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    300deg,
    #e6e6e6 0%,
    #596073 100%,
    #bcc5d7 100%
  );

}

.text-light {
  text-shadow: 1px #000000;
  text-align: center;
}

.home a {
  font-size: 80px;
}

.home,
.about,
.skills {
  height: 900px;
}

@media (max-width: 420px) {
  .main {
    margin: 20px 20px 0;
  }
  .home,
  .about,
  .skills {
    height: auto;
    padding: 20px;
  }
}
